/*---- General -----*/
body {
  margin: 0;
  background-color: rgb(224, 223, 223);
}

/*---- Login ----*/ 
.loginSignupContainer, #editProfileFormContainer {
  border: 1px solid black;
  background-color: #fff;
  width: 50%;
  text-align: center;
  margin: 40px auto 40px auto;
  border-radius: 10px;
}

.loginSignupEditForm {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.loginSignupEditForm > label {
  display: block;
  margin-top: 10px;
}

.loginSignupEditForm > input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.loginSignupEditForm > button, #saveChangesButton{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#saveChangesDeleteContainer{
  display: flex;
  justify-content: space-between;;
}

#deleteProfileButton{
  background-color: #dc3545;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#deleteProfileButton:hover{
  background-color: #c82333;
}

#saveChangesButton:hover{
  background-color: #0069d9;
}

#toggleLoginCreateButton, #goBackToProfile {
  margin-top: 10px;
  cursor: pointer;
  color: #007bff;
}

#newUserText {
  color: black;
}

.errorText{
  color: red;
}

.registerEditErrorMessage{
  color: red;
  text-align: center;
}

/*---- Navbar -----*/
#navbarContainer{
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(99, 99, 246);
  border: 1px solid black;
}

#navbarInnerContainer {
  margin: 0 auto;
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blogThat{
  position: absolute;
  left: 10px;
}

.navbarButtons {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.navbarButtons:hover {
  color: rgb(212, 212, 212);
}

/*---- Search -----*/
#searchPageContainer{
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}

#searchBarContainer{
  width: 50%;
  margin: 0 auto;
}

#searchInput{
  width: 70%;
  height: 29px;
}

#searchButton{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#followersFollowingContainer{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

#followersFollowingContainer > h2{
  cursor: pointer;
  color: #0977ed;
}

#followersFollowingContainer > h2:hover{
  color: #4ca0e4;
}

.userNode {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

.userNode:hover {
  color: #0977ed;
}

.userNodeProfileImage{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#userNodeContainer{
  width: 50%;
  margin: 0 auto;
  display: block;
}

.singleUserNodeContainer{
  padding-top: 10px;
  display: flex;
  align-items: center;
}

/*----- Home -----*/
#createPostContainer{
  border: 1px solid black;
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

#createPostButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

#createPostButton:hover {
  background-color: #004d9e;
}

#lineBreak{
  border-bottom: 2px solid black;
  width: 50%;
  margin: 20px auto;
}

/*---- Posts -----*/
.postContainer{
  border: 1px solid black;
  border-radius: 20px;
  width: 40%;
  height: auto;
  margin: 10px auto;
  background-color: #fff;
}

.postHeaderContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background-color: #007bff;
  color: #fff;
}

#editPostButton, #deletePostButton{
  height: 25px;
}

#postInput{
  width: 80%;
}

.postText{
  text-align: center;
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: 900;
}

.commentPostDivider{
  border-top: 1px solid black;
  width: 95%;
  margin: 0 auto;
}

/*--- Comments ----*/
.seeComments{
  background-color: #fff;
  color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px 0px 5px 5px;
}

.seeComments:hover{
  background-color: #007bff;
  color: #fff;
}

.commentsAndFormContainer{
  display: flex;
  justify-content: space-around;
}

.singleCommentHeaderContainer{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.deleteCommentButton{
  background-color: #fff;
  color: #ff0400;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.commentFormContainer, .commentsContainer{
  
  width: 45%;
}

.commentFormContainer{
  text-align: center;
  padding-top: 10px;
}

.commentUsername, .commentContent{
  margin: 0;
  word-wrap: break-word;
}

.commentUsername{
  color: #0069d9;
}

.singleCommentContainer{
  padding-bottom: 7px;
}

.addCommentButton{
  background-color: #fff;
  color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px 0px 5px 5px;
}

.addCommentButton:hover{
  background-color: #007bff;
  color: #fff;
}

/*---- User Profile ----*/
.profileInfo{
  border: 1px solid black;
  width: 20%;
  background-color: #fff;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.userProfilePhoto{
  border-radius: 50%;
  width: 200px;
}

.profileUsername{
  border-top: 2px solid black;
  padding-top: 5px;
}

.noPostsText{
  text-align: center;
}

.followButton, #logoutButton, #editProfileButton{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#logoutButton, #editProfileButton{
  margin: 5px;
}

#logoutButton:hover, .followButton:hover, .editDeleteButton:hover{
  background-color: #0069d9;
}

.editDeleteButton{
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}